{{#if (eq locale 'bn')}}
<h2>পাসওয়ার্ড রিসেট করুন</h2>
<p>প্রিয় {{name}},</p>
<p>আপনার পাসওয়ার্ড রিসেট করার অনুরোধ পাওয়া গেছে। নিচের বাটনে ক্লিক করে নতুন পাসওয়ার্ড সেট করুন:</p>
<a href="{{resetUrl}}" class="btn">পাসওয়ার্ড রিসেট করুন</a>
<p>এই লিংকটি {{expiresIn}} পর মেয়াদ উত্তীর্ণ হবে।</p>
<p>আপনি যদি পাসওয়ার্ড রিসেট অনুরোধ না করে থাকেন, তাহলে এই ইমেইলটি উপেক্ষা করুন।</p>
{{else}}
<h2>Reset Your Password</h2>
<p>Hi {{name}},</p>
<p>We received a request to reset your password. Click the button below to set a new password:</p>
<a href="{{resetUrl}}" class="btn">Reset Password</a>
<p>This link will expire in {{expiresIn}}.</p>
<p>If you didn't request a password reset, please ignore this email.</p>
{{/if}}
