{{#if (eq locale 'bn')}}
<h2>рж╕рзНржмрж╛ржЧрждржо, {{name}}! ЁЯОЙ</h2>
<p>ржмрж┐ржбрж┐рж╢ржк-ржП ржЖржкржирж╛рж░ ржЕрзНржпрж╛ржХрж╛ржЙржирзНржЯ рж╕ржлрж▓ржнрж╛ржмрзЗ рждрзИрж░рж┐ рж╣ржпрж╝рзЗржЫрзЗред</p>
<p>ржЖржорж╛ржжрзЗрж░ ржкрзНрж▓рзНржпрж╛ржЯржлрж░рзНржорзЗ ржЖржкржирж┐ ржкрж╛ржмрзЗржи:</p>
<ul>
  <li>ржмрж╛ржВрж▓рж╛ржжрзЗрж╢рзЗрж░ рж╕рзЗрж░рж╛ ржкржгрзНржпрж╕ржорзВрж╣</li>
  <li>рж╕рж╛рж╢рзНрж░ржпрж╝рзА ржорзВрж▓рзНржп ржУ ржирж┐ржпрж╝ржорж┐ржд ржЕржлрж╛рж░</li>
  <li>ржжрзНрж░рзБржд ржбрзЗрж▓рж┐ржнрж╛рж░рж┐ рж╕рзЗржмрж╛</li>
</ul>
<a href="{{shopUrl}}" class="btn">ржХрзЗржирж╛ржХрж╛ржЯрж╛ рж╢рзБрж░рзБ ржХрж░рзБржи</a>
{{else}}
<h2>Welcome, {{name}}! ЁЯОЙ</h2>
<p>Your BDShop account has been created successfully.</p>
<p>Here's what you can explore:</p>
<ul>
  <li>Best products from Bangladesh</li>
  <li>Affordable prices & regular offers</li>
  <li>Fast delivery service</li>
</ul>
<a href="{{shopUrl}}" class="btn">Start Shopping</a>
{{/if}}
